[Unit]
Description=Video Processor Service
After=network.target

[Service]
Type=simple
ExecStart=/root/deploy/videoprocessor
WorkingDirectory=/root/deploy
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
